.topbar {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 5px 0;
  .logo {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .search-box {
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    width: 592px;
    input {
      border: none;
      font-size: 18px;
      &:focus-visible {
        outline: none;
      }
    }
  }
  .right-icons {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
