@use "@/styles/variables.scss" as vars;
@import "@/styles/index.scss";

.content-item {
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  border: 0.5px solid vars.$border_color;
  gap: 10px;
  max-width: 352px;
  width: 100%;

  @include responsive(lg) {
    max-width: 100%;
  }

  .top-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    .text {
      line-height: 9.68px;
      font-size: 8px;
    }
  }

  .bottom-text {
    font-size: 10px;
    line-height: 12.1px;
  }
}
