.search-box-main{
    display: flex;
    .input-box{
        display: flex;
        position: relative;
        width: 100%;
        width: 300px;
        background-color: white;
        border: 0.5px solid rgba(80, 80, 80, 0.4);
        border-radius: 10px;
        padding: 7px 0;
        input{
            border-radius: 10px;
            border: none;
            width: 90%;
            padding: 7px;
            &:focus-visible{
                outline: none;
            }
        }
        .loading{
            position: absolute;
            right: 5px;
            top: 0px;
        }
        button{
            position: absolute;
            top: 8px;
            right: 7px;
            background-color: white;
            border: none;
            cursor: pointer;
        }
    }
}