@use "@/styles/variables.scss" as vars;
@import "@/styles/index.scss";

.report-info-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  grid-area: report;

  .report-header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .heading-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;

      h3 {
        font-weight: 500;
        size: 18px;
        line-height: 21.78px;
      }
    }

    .date-wrapper {
      display: flex;
      align-items: center;

      small {
        font-size: 8px;
        font-weight: 400;
        line-height: 9.68px;
      }
    }
  }

  .statistical-box-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.hi {
  canvas {
    width: 100% !important;
  }
}
