.padding-y-sm {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-y-md {
  padding-top: 12px;
  padding-bottom: 12px;
}

.padding-y-sm {
  padding-left: 8px;
  padding-right: 8px;
}

.padding-y-md {
  padding-left: 12px;
  padding-right: 12px;
}

.container-wrapper {
  width: 100%;
}

.container-base {
  width: 100%;
  display: block;
  margin: auto;
}

.container-md {
  @extend .container-base;
  max-width: 1440px;
}

.container-lg {
  @extend .container-base;
  max-width: 1920px;
}

.container-sm {
  @extend .container-base;
  max-width: 1200px;
}
