@import "@/styles/index.scss";

.container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "report report report notification"
    "programs programs programs suggestion";
  row-gap: 10px;
  column-gap: 10px;
  padding: 0px;
  max-width: 100%;

  @include responsive(xl) {
    padding: 0px 20px;
    grid-template-areas:
      "report report notification"
      "programs programs suggestion";
    grid-template-columns: repeat(3, 1fr);
  }

  // @include responsive(lg) {
  //   grid-template-areas:
  //     "report report notification"
  //     "programs programs suggestion";
  //   grid-template-columns: repeat(3, 1fr);
  // }

  @include responsive(lg) {
    grid-template-areas:
      "report"
      "programs"
      "suggestion"
      "notification";
    grid-template-columns: 1fr;
  }

  @include responsive(md) {
    grid-template-areas:
      "report"
      "programs"
      "suggestion"
      "notification";
    grid-template-columns: minmax(0px, 100%);
  }
}
