@import "@/styles/index.scss";

.catalogs-header{
    width: 75%;
    margin: 25px auto;
    background-color: $primary;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{
        color: white;
    }
}