@import "@/styles/index.scss";

.listings-container {
    width: 85%;
    margin: 20px auto;
    .tools-area {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .listings {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .listing-item {
            display: flex;
            padding: 10px;
            gap: 15px;
            border-radius: 10px;
            position: relative;

            //
            background-color: $secondary;

            &.WEBSITE {
                .thumbnail-sec {
                    width: 100px;
                    .thumbnail {
                        position: relative;
                        width: 100%;
                        height: 100px;
                        // background-color: cyan;
                    }
                    .rating {
                        font-size: small;
                        display: flex;
                        justify-content: center;
                        margin-top: 3px;
                        // color: grey;
                    }
                }
                .tags-and-stats {
                    position: absolute;
                    right: 10px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    .visitors-count {
                        font-size: smaller;
                    }
                }
                .content-sec {
                    display: flex;
                    flex-direction: column;
                    width: calc(100% - 115px);
                    .desc {
                        color: grey;
                        display: -webkit-box;
                        -webkit-line-clamp: 3; /* Number of lines */
                        line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        flex-grow: 1;
                        // font-size: smaller;
                    }
                    .type{
                        font-size: smaller;
                        color: grey;
                    }
                    .lower-sec {
                        display: flex;
                        justify-content: space-between;
                        .revenue-model {
                            justify-self: end;
                            font-size: smaller;
                        }
                        button {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            border: none;
                            background-color: $primary;
                            padding: 5px;
                            border-radius: 5px;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }
            }
            &.MOBILE {
                .thumbnail-sec {
                    width: 120px;
                    .thumbnail {
                        position: relative;
                        width: 100%;
                        height: 120px;
                        // background-color: cyan;
                    }
                    .app-store-rating {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: small;
                        display: flex;
                        justify-content: center;
                        margin-top: 3px;
                        // color: grey;
                        .stars{
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
                .tags-and-stats {
                    position: absolute;
                    right: 10px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    .visitors-count {
                        font-size: smaller;
                    }
                }
                .content-sec {
                    display: flex;
                    flex-direction: column;
                    width: calc(100% - 115px);
                    .desc {
                        color: grey;
                        display: -webkit-box;
                        -webkit-line-clamp: 3; /* Number of lines */
                        line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        flex-grow: 1;
                        // font-size: smaller;
                    }
                    .type{
                        font-size: smaller;
                        color: grey;
                    }
                    .lower-sec {
                        display: flex;
                        justify-content: space-between;
                        .revenue-model {
                            justify-self: end;
                            font-size: smaller;
                        }
                        button {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            border: none;
                            background-color: $primary;
                            padding: 5px;
                            border-radius: 5px;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }
            }
            &.SOCIAL {
                .thumbnail-sec {
                    width: 100px;
                    .thumbnail {
                        position: relative;
                        width: 100%;
                        height: 100px;
                        // background-color: cyan;
                    }
                    .rating {
                        font-size: small;
                        display: flex;
                        justify-content: center;
                        margin-top: 3px;
                        // color: grey;
                    }
                }
                .tags-and-stats {
                    position: absolute;
                    right: 10px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    .visitors-count {
                        font-size: smaller;
                    }
                }
                .content-sec {
                    display: flex;
                    flex-direction: column;
                    width: calc(100% - 115px);
                    .desc {
                        color: grey;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; /* Number of lines */
                        line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        flex-grow: 1;
                        // font-size: smaller;
                    }
                    .type{
                        font-size: smaller;
                        color: grey;
                    }
                    .lower-sec {
                        display: flex;
                        justify-content: space-between;
                        .revenue-model {
                            justify-self: end;
                            font-size: smaller;
                        }
                        button {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            border: none;
                            background-color: $primary;
                            padding: 5px;
                            border-radius: 5px;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
