@import "@/styles/index.scss";

.catalogs-search {
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: 250px;
    input {
        padding: 7px;
        border-radius: 10px;
        border: none;
        width: 90%;
        &:focus-visible {
            outline: none;
        }
    }
    button {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 7px;
        top: 5px;
        cursor: pointer;
    }
    .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 7px;
        bottom: -4px;
        color: $primary;
        svg {
            animation: rotate 2s infinite linear;
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }
}
