@import "@/styles/index.scss";

.login-sec {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    form {
        width: 400px;
        box-shadow: 10px;
        // border: 1px solid red;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 25px;
        gap: 22px;
        h1 {
            font-size: xx-large;
            padding: 10px 0;
        }
        // h3 {
        //     text-align: center;
        //     padding: 5px;
        // }
        .welcome-text {
            color: $text_light_gray;
            font-weight: 500;
        }
        .form-field {
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 8px;
            margin-top: 10px;
            .field-name {
                color: $text_light_gray;
            }
            input {
                font-size: large;
                padding: 13px;
                border: 2px solid $border_color;
                border-radius: 5px;
                &:focus-visible {
                    outline: none;
                }
                &::placeholder {
                    color: $text_light_gray;
                }
            }
            .eye {
                position: absolute;
                bottom: 12px;
                right: 10px;
                cursor: pointer;
                font-size: larger;
                .open {
                    color: $text_light_gray;
                }
            }
        }
        .newuser {
            display: flex;
            gap: 5px;
            margin-top: 3px;
            font-size: smaller;
            // color: #0070E0;
            font-weight: 500;
            color: $text_light_gray;
            text-decoration: none;
            .signup-link {
                color: $primary;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .submit-btn {
            width: 100%;
            padding: 15px 0;
            border: none;
            border-radius: 10px;
            color: white;
            background-color: $primary;
            margin-top: 10px;
            opacity: 0.85;
            font-size: large;
            &:disabled {
                opacity: 0.7;
                pointer-events: none;
            }
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}
