@import "@/styles/index.scss";

.users-list-container {
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .tools{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .state-filter{

        }
    }
    .user-item {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 10px;
        background-color: $secondary;
        cursor: pointer;
        .user-logo {
            width: 100px;
            height: 100px;
            position: relative;
        }
        .content-sec {
            position: relative;
            width: 100%;
            font-size: smaller;
            color: grey;
            .username {
                font-weight: 600;
                font-size: medium;
                color: black;
            }
        }
    }
    .pagination{
        display: flex;
        align-items: center;
        justify-content: space-between;
        button{
            background-color: $primary;
            border: none;
            padding: 10px;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            &:disabled{
                opacity: 0.8;
            }
        }
    }
}
